%h1 Hello world

#exampleModal1.reveal{ data: { reveal: true, 'animation-in': 'fade-in', 'animation-out': 'fade-out' } }
  %h1 Awesome.
  %p.lead Test lead
  %button.close-button{ type: 'button', data: { close: '' } }
    %span &times;

%button.button{ data: { open: 'exampleModal1' } } Open Modal
