%meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
%meta{ content: 'width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0, shrink-to-fit=no', name: 'viewport' }
%meta{ name: 'apple-mobile-web-app-capable', content: 'yes' }
%meta{ name: 'mobile-web-app-capable', content: 'yes' }
%title= content_for(:title) ? "#{yield(:title)} | Startup" : 'Startup'
= csrf_meta_tags
= stylesheet_pack_tag    'application'
-# = favicon_link_tag       asset_pack_path('images/favicon.ico')
